.login {
    transition: all 0.75s ease;
}

#scrollable-dropdown-menu .dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

input.submitted.ng-invalid
{
    border:1px solid #f00;
}