<div ng-controller="AllUserController as ac"  ng-init="init()">

    <nav-bar ng-controller="NavBarController"></nav-bar>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Role</th>

            </tr>
        </thead>

        <tbody>

            <tr ng-repeat="user in users" class="item-unchecked" ng-click="customNavigate('userpage', user.id)">
                {{user}}
                <th scope="row">{{$index + 1}}</th>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
            </tr>
        </tbody>
    </table>
</div>




