<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Login</h3>
            </div>
            <div class="well">
                <login-form ng-controller="LoginController"></login-form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Registration</h3>
            </div>
            <div class="well">
                <register-form ng-controller="RegisterController"></register-form>
            </div>
        </div>
    </div>
</div>