<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Jogging</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a style="cursor: pointer;" ng-click="customNavigate('userpage', logged_in_user)">My page <span class="sr-only">(current)</span></a></li>
                <li ng-if="logged_in_user_role == 'ADMIN' || logged_in_user_role  == 'USER_MANAGER'"><a style="cursor: pointer;" href="#allusers">All Users <span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown>


                    <a uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{logged_in_user_first_name}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul uib-dropdown-menu>
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{logged_in_user_first_name}} {{logged_in_user_last_name}}</strong></p>
                                        <p class="text-left"><strong>Role: {{logged_in_user_role}}</strong></p>
                                        <p class="text-left small">{{logged_in_user}}</p>
                                        <p class="text-left">
                                            <a ng-click="customNavigate('userpage', logged_in_user)" class="btn btn-primary btn-block btn-sm">My page</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a ng-click="logout()" class="btn btn-danger btn-block">Log out</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--<li>-->
                    <!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>-->
                    <!--{{logged_in_user_first_name}}, {{logged_in_user_role}}-->
                <!--</li>-->
                <!--<li><a ng-click="logout()" style="cursor: pointer;">Logout</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>