<div class="row">
    <div class="col-xs-12">
        <form name="registerForm">
            <div class="form-group" ><label for="first_name">First name</label>
                <input type="text" name="first_name" ng-class="{submitted:registerForm.submitted}"
                                                                                  ng-model="first_name"
                                                                                  required="required"
                                                                                  class="form-control"/></div>

            <div class="form-group"  ><label for="last_name">Last name</label> <input ng-class="{submitted:registerForm.submitted}" type="text" name="last_name"
                                                                                    ng-model="last_name"
                                                                                    required="required"
                                                                                    class="form-control"/></div>

            <div class="form-group" ><label for="username">Email</label> <input ng-class="{submitted:registerForm.submitted}" type="email" name="username"
                                                                                  ng-model="email"
                                                                                  required="required"
                                                                                  class="form-control"/></div>

            <div class="form-group" ><label for="password">Password</label> <input ng-class="{submitted:registerForm.submitted}" type="password" name="password"
                                                                                  ng-model="password"
                                                                                  required="required"
                                                                                  class="form-control"/></div>

            <button type="submit" ng-class="{'btn-default':!registerForm.$valid,'btn-success':registerForm.$valid}" ng-click="register()"
                    class="btn login">Sign up
            </button>
            <span ng-show="registerationError && !registerForm.$valid" class="label label-danger"> <b>{{errMsg}}</b> Please try again. </span>
        </form>
    </div>
</div>