<div class="container well" >

    <div class="row">
        <div class="col-md-3" style="font-size: x-large">
            <div class="row">
                <span class="glyphicon glyphicon-user"> {{current_user.firstName}}</span>
                <span class="glyphicon">{{current_user.lastName}}</span>
            </div>
            <div class="row">
                <span class="glyphicon glyphicon-envelope"> {{current_user.username}}</span>
            </div>
            <div class="row">
                <span class="glyphicon glyphicon-briefcase"> {{current_user.role}}</span>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-bottom: 15px">
                <form name="timezoneForm" class="form-inline">
                    <div class="form-group"  id="scrollable-dropdown-menu">
                        <div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Date time</th>
                                    <th>Days</th>
                                    <th>Hours</th>
                                    <th>Minutes</th>
                                    <th>Seconds</th>
                                    <th>Distance meters</th>

                                </tr>
                                </thead>

                                <tbody>

                                <tr>
                                    <td>
                                        <input readonly style="width: 150px" id="datetime" date-format="yyyy-MM-dd HH:mm:ss" datetime-picker class="form-control" required="true" ng-model="date_time" />
                                    </td>
                                    <td>
                                        <input type="number" id="days" style="width: 75px" class="form-control" required="true" ng-model="days" placeholder="Days" />
                                    </td>
                                    <td>
                                        <input type="number" value="0" id="hours" style="width: 75px" class="form-control" required="true" ng-model="hours" placeholder="Hours"/>
                                    </td>
                                    <td>
                                        <input type="number" id="minutes" style="width: 75px" class="form-control" required="true" ng-model="minutes" placeholder="Minutes"/>
                                    </td>
                                    <td>
                                        <input type="number" id="seconds"  value="0" style="width: 75px" class="form-control" required="true" ng-model="seconds" placeholder="Seconds"/>
                                    </td>
                                    <td>
                                        <input type="number"  id="distance" style="width: 100px" class="form-control" required="true" ng-model="distance" placeholder="Distance"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <button ng-disabled="!timezoneForm.$valid" ng-class="{'btn-default':!timezoneForm.$valid,'btn-success':timezoneForm.$valid}" type="button" class="btn form-group" ng-click="add_jog()">Add</button>
                </form>

            </div>

            <div ng-show="user_jogs.length > 0">

                <div style="width: 100%; height: 28px; margin-bottom: 25px; border-bottom: 1px solid black;  text-align: center">
                  <span style="font-size: 40px; background-color: #F3F5F6; padding: 0 10px;">
                    Jog list.
                  </span>
                </div>

                <div class="row">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Date From</th>
                            <th>Date To</th>
                            <th>Filter</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input readonly style="width: 150px" date-format="yyyy-MM-dd HH:mm:ss" datetime-picker class="form-control" required="true" ng-model="date_from" />
                                </td>
                                <td>
                                    <input readonly style="width: 150px" date-format="yyyy-MM-dd HH:mm:ss" datetime-picker class="form-control" required="true" ng-model="date_to" />
                                </td>

                                <td>
                                    <button class="btn-success" type="button" class="btn form-group" ng-click="query_jogs(date_from, date_to)">Filter</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">

                    <table ng-table="tableParams" class="table" show-filter="false">
                        <tr ng-repeat="jog in $data" class="item-unchecked">
                            <td title="'Date time'" filter="{ name: 'text'}" sortable="'date'">
                                <input readonly style="width: 150px" date-format="yyyy-MM-dd HH:mm:ss" datetime-picker class="form-control" required="true" ng-model="jog.date" />
                            </td>
                            <td title="'Days'"  filter="{ duration_days: 'number'}" sortable="'duration_days'">
                                <input type="number" min="0" max="365" style="width: 75px" class="form-control" required="true" ng-model="jog.duration_days" placeholder="Days" />
                            </td>
                            <td title="'Hours'"  filter="{ duration_hours: 'number'}" sortable="'duration_hours'">
                                <input type="number" min="0" max="24" style="width: 75px" class="form-control" required="true" ng-model="jog.duration_hours" placeholder="Hours" />
                            </td>
                            <td title="'Minutes'"  filter="{ duration_minutes: 'number'}" sortable="'duration_minutes'">
                                <input type="number" min="0" max="60" style="width: 75px" class="form-control" required="true" ng-model="jog.duration_minutes" placeholder="Minutes" />
                            </td>
                            <td title="'Seconds'"  filter="{ duration_seconds: 'number'}" sortable="'duration_seconds'">
                                <input type="number" min="0" max="60" style="width: 75px" class="form-control" required="true" ng-model="jog.duration_seconds" placeholder="Minutes" />
                            </td>
                            <td title="'Distance meters'" filter="{ distance_meters: 'number'}" sortable="'distance_meters'">
                                <input type="number" min="0" style="width: 75px" class="form-control" required="true" ng-model="jog.distance_meters" placeholder="Distance" />
                            </td>
                            <td title="'Avg speed km/h'" filter="{ avg_speed_km_per_hour: 'number'}" sortable="'avg_speed_km_per_hour'">
                                <input readonly style="width: 75px" class="form-control" required="true" ng-model="jog.avg_speed_km_per_hour" placeholder="Avg speed" />
                            </td>

                            <td title="'Update'">
                                <button type="button" class="btn form-group" ng-click="update_jog(jog)">Update</button>
                            </td>
                            <td title="'Delete'">
                                <button type="button" class="btn form-group" ng-click="delete_jog(jog, $index)">Delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-show="user_jogs.length > 0" class="row" style="margin-bottom: 15px">

                <div style="width: 100%; height: 28px; margin-bottom: 25px; border-bottom: 1px solid black;  text-align: center">
                  <span style="font-size: 40px; background-color: #F3F5F6; padding: 0 10px;">
                    Weekly reports.
                  </span>
                </div>

                <table ng-table="weeklyGrid" class="table" show-filter="true">
                    <tr ng-repeat="week in $data" class="item-unchecked">
                        <td title="'Week start date'" filter="{ week_date_from: 'text'}" sortable="'week_date_from'">
                            <input readonly style="width: 150px" date-format="yyyy-MM-dd" datetime-picker class="form-control" required="true" ng-model="week.week_date_from" />
                        </td>
                        <td title="'Avg distance meters'" filter="{ avg_distance_meters: 'number'}" sortable="'avg_distance_meters'">
                            <input readonly style="width: 75px" class="form-control" required="true" ng-model="week.avg_distance_meters" placeholder="Avg distance" />
                        </td>
                        <td title="'Avg speed km/h'" filter="{ avg_speed_km_per_hour: 'number'}" sortable="'avg_speed_km_per_hour'">
                            <input readonly style="width: 75px" class="form-control" required="true" ng-model="week.avg_speed_km_per_hour" placeholder="Avg distance" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="container well">
    <div class="row">
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>
            <form name="userDetailsForm" class="form-horizontal" role="form" ng-show="logged_in_user == current_user.id">
                <div class="form-group" ng-class="{ 'has-error': userDetailsForm.first_name.$invalid }" >
                    <label class="col-lg-3 control-label">First name: *</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="first_name" type="text" required="true" ng-model="current_user_first_name" value="{{current_user_first_name}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userDetailsForm.last_name.$invalid }">
                    <label class="col-lg-3 control-label">Last name: *</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="last_name"  required="true" type="text" ng-model="current_user_last_name" value={{current_user_last_name}}>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userDetailsForm.email.$invalid }" >
                    <label class="col-lg-3 control-label">Email: *</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="email" required="true" type="email" ng-model="current_user_email" value="{{current_user_email}}">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">New Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" ng-model="current_user_new_password" value="11111122333">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': userDetailsForm.current_user_password.$invalid && userDetailsForm.current_user_password.$dirty }">
                    <label class="col-md-3 control-label">Current Password: *</label>
                    <div class="col-md-8">
                        <input class="form-control" name="current_user_password" required="true" type="password" ng-model="current_user_password" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" ng-disabled="!userDetailsForm.$valid" ng-class="{'btn-default':!userDetailsForm.$valid,'btn-success':userDetailsForm.$valid}" class="btn" value="Save Changes" ng-click="updateCurrentUser()">
                        <span></span>
                    </div>
                </div>
            </form>

            <form name="userDetailsForm2" class="form-horizontal" role="form" ng-show="logged_in_user != current_user.id">
                <div class="form-group" ng-class="{ 'has-error': userDetailsForm2.first_name.$invalid }" >
                    <label class="col-lg-3 control-label">First name: *</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="first_name" type="text" required="true" ng-model="current_user_first_name" value="{{current_user_first_name}}">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userDetailsForm2.last_name.$invalid }">
                    <label class="col-lg-3 control-label">Last name: *</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="last_name"  required="true" type="text" ng-model="current_user_last_name" value={{current_user_last_name}}>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userDetailsForm2.email.$invalid }" >
                    <label class="col-lg-3 control-label">Email: *</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="email" required="true" type="email" ng-model="current_user_email" value="{{current_user_email}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">New Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" ng-model="current_user_new_password" value="11111122333">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" ng-disabled="!userDetailsForm2.$valid" ng-class="{'btn-default':!userDetailsForm2.$valid,'btn-success':userDetailsForm2.$valid}" class="btn" value="Save Changes" ng-click="updateCurrentUser()">
                        <span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container well" ng-if="logged_in_user_role == 'ADMIN'">
    <div class="row">
        <div class="col-md-9 personal-info">
            <h3>User role</h3>
            <form name="userRoleForm" class="form-horizontal">
                <div class="form-group" >
                    <label class="col-md-3 control-label">Role: *</label>
                    <div class="col-md-8">
                        <select class="form-control" name="role" required="true" ng-class="{ 'has-error': userRoleForm.role.$invalid }"  ng-options="i as i for i in allRoles" ng-model="selected_user_role">
                            <option disabled selected value> -- select an option -- </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" ng-disabled="!userRoleForm.$valid" ng-class="{'btn-default':!userRoleForm.$valid,'btn-success':userRoleForm.$valid}"  class="btn" value="Update" ng-click="updateCurrentUserRole(selected_user_role)">
                        <span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="col-md-2 col-md-offset-5">
            <input type="button" class="btn btn-danger" value="Delete User" ng-click="deleteCurrentUser()">
        </div>
    </div>
</div>